
.code-line {
  background-color: rgb(32, 35, 35);
  position: relative;
}
.code-line:nth-child(2n - 1) {
  background-color: rgb(39, 39, 39);
  /* padding: 0; */
  /* margin: 0; */
}

.code-line::after {
  content: attr(data-ln);
  position: absolute;
  width: 40px;
  right: calc(100% - 25px);
  z-index: 999;
  overflow: visible;
}

.wrapper {
  overflow-y: auto;
  height: 100%;
  /* width: 100%; */
}